# This is Git's per-user configuration file.
[core]
	user = Sam Raker
	editor = vim
[color]
	branch = true
	diff = true
	decorate = true
	grep = true
	status = true
	ui = true
[push]
	default = matching
[pull]
	default = matching
[user]
	name = Sam Raker
	email = sraker@elitedaily.com
